<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="Nastavení">
            <setting label="Kvalita streamu" type="select" id="quality" values="nízká|vysoká" default="vysoká"/>
            <setting label="Automatické spouštění streamů" type="bool" id="scheduler" default="false"/>
	</category>
</settings>
